body {
  background-color: #5D5C61;
  font-family: sans-serif;
  font-weight: 500;
}

.jumbotron {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px red;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  background-image: url('https://bit.ly/2wo3Qx2');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.highlight {
  color: firebrick;
  font-style: italic;
}

p, li {
  font-size: medium;
}

h2 {
  font-weight: bolder;
}

blockquote {
  text-align: center;
}

