body {
  background-color: #5D5C61;
  font-family: sans-serif;
}


.jumbotron {
  text-align: center;
  text-decoration: underline;
  background-image: url('https://bit.ly/3a8A3au');
  background-position: center bottom;
  height: 100%;}
}

.highlight {
  color: firebrick;
  font-style: italic;

}

h2 {
  font-weight: bolder;
}

blockquote {
  text-align: center;
}

.well {
  background-color: ;
}